
<p>
  <strong>title</strong>
  <%= @depense.title %>
</p>

<p>
  <strong>montant</strong>
  <%= @depense.montant %>
</p>

<p>
  <strong>payer</strong>
  <%= @depense.payer%>
</p>

<p>
  <strong>benef</strong>
  <%= @depense.benef%>
</p>

<%= link_to 'Back', depenses_path %>
